
.index-return{
    width:30px;
    height:30px;
}
.card-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:10px;
}
.card-flex{
    border:2px solid black;
    margin-top:2em;
  
}
@media screen and (min-width:320px){
    .card{
        margin-top:10%; 
        
    }
    }
@media screen and (min-width:540px){
    
    .card{
        border: 2px solid black;
        margin-left:2em;
        margin-top:5%;
    }
    
}

